<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../echarts/echarts.js"></script>
    <script src="../echarts/theme.js"></script>
    <script src="../echarts/map/map-all.js"></script>
    <script src="../echarts/jquery-1.9.1.min.js"></script>
    <style>
        .contain {
            color: #fff;
            margin-right: 2px;
        }
        tr, td {
            /*border: 1px solid red;*/
        }
        .def_bk {
            background-color: rgba(0, 0, 0, 0.07);
        }
        .title{
            font-weight: bold; margin: 8px 0 0 8px
        }
        .table-c table{border-right:1px solid rgba(255, 255, 255, 0.47);border-bottom:1px solid rgba(255, 255, 255, 0.47)
        }
        .table-c table tr{height: 30px}
        .table-c table td{border-left:1px solid rgba(255, 255, 255, 0.47);border-top:1px solid rgba(255, 255, 255, 0.47); text-align: center}
        .point td {
            cursor: pointer;
        }
        a {
            color: #fff;
            text-decoration:none
        }
        a:hover{
            color: yellow;
            text-decoration:underline;
        }
    </style>
</head>
<body>
<div class="contain">
    <table width="100%" height="510">
        <tr>
            <td class="def_bk" style="width:50%" valign="top">
                <div style="font-weight: bold; margin: 16px 0 0 8px; ">各分局排名</div>
                <div id="order" class="table-c" style="height:520px;padding: 16px">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr style="height: 40px" class="point" onclick="doOrder" id="tab_header">
                            <td style="width: 140px" id="tab_1">分局</td>
                            <td style="width: 95px" onclick="doOrder(2)" id="tab_2">民警总数</td>
                            <td style="width: 90px" onclick="doOrder(3)" id="tab_3">警犬总数</td>
                            <td style="width: 100px" onclick="doOrder(4)" id="tab_4">民警/警犬<br>比例↓</td>
                            <td style="width: 100px" onclick="doOrder(5)" id="tab_5">上月工作量</td>
                            <td style="width: 120px" onclick="doOrder(6)" id="tab_6">上月新闻数量</td>
                        </tr>
                        <tbody id="orderTable">

                        </tbody>
                    </table>
                </div>
            </td>
            <td style="width: 16px"></td>
            <td valign="top">
                <div class="def_bk" style="height:300px;">
                    <div style="height:18px;"></div>
                    <div style="font-weight: bold; margin: 0px 0 0 8px; ">动态新闻</div>
                    <div style="height:10px;"></div>
                    <div>
                        <!--<marquee direction=up behavior=scroll loop=3 scrollamount=1 scrolldelay=10 align=top-->
                                 <!--height=236 width=95% hspace=20 vspace=10 onmouseover=this.stop()-->
                                 <!--onmouseout=this.start()>-->
                            <table width="100%" id="newList">
                            </table>

                        <!--</marquee>-->
                    </div>
                </div>
                <div style="height: 16px"></div>
                <div class="def_bk" style="height:280px">
                    <div style="height: 16px;"></div>
                    <div style="font-weight: bold; margin: 0px 0 0 8px; ">通知公告</div>
                    <div style="height:10px;"></div>
                    <div>
                        <!--<marquee direction=up behavior=scroll loop=3 scrollamount=1 scrolldelay=10 align=top-->
                                 <!--height=236 width=95% hspace=20 vspace=10 onmouseover=this.stop()-->
                                 <!--onmouseout=this.start()>-->
                            <table width="100%" id="newList2">
                            </table>

                        <!--</marquee>-->
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div style="height: 16px;"></div>
    <table width="100%">
        <tr>
            <td id="col1" class="def_bk">
                <div style="font-weight: bold; margin: -2px 0 0 8px; ">北京市各区警犬数量分布</div>
                <div id="main" style="height:550px;"></div>
            </td>
            <td style="width: 16px"></td>
            <td valign="top" class="def_bk">
                <div>
                    <div style="padding: 8px;">
                        <div style="font-weight: bold;margin-top:8px" id="area_name">朝阳区</div>
                        <div style="margin: 16px 0 0 16px; line-height: 25px">
                            <table>
                                <tr>
                                    <td style="width: 73%"><div style="">带犬民警：<span id="policeman_num">124</span></div></td>
                                    <td><div style="">人犬比例：<span id="police_dog_c">124</span></div></td>
                                </tr>
                                <tr>
                                    <td><div style="">警犬数量：<span id="dog_num">124</span></div></td>
                                    <td><div style="">上月工作量：10282</div></td>
                                </tr>
                            </table>
                        </div>
                        <div style="height: 200px; padding:10px">
                            <table width="100%">
                                <tr>
                                    <td style="width: 20%">
                                        <div id="fj_col1" style="width: 100%; height: 150px">1</div>
                                        <div align="center">警犬年龄</div>
                                    </td>
                                    <td style="width: 20%">
                                        <div id="fj_col2" style="width: 100%; height: 150px">1</div>
                                        <div align="center">警犬品种</div>
                                    </td>
                                    <td style="width: 20%">
                                        <div id="fj_col3" style="width: 100%; height: 150px">1</div>
                                        <div align="center">警犬专业</div>
                                    </td>
                                    <td style="width: 20%">
                                        <div id="fj_col4" style="width: 100%; height: 150px">1</div>
                                        <div align="center">民警年龄</div>
                                    </td>
                                    <td style="width: 20%">
                                        <div id="fj_col5" style="width: 100%; height: 150px">1</div>
                                        <div align="center">民警职称</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="font-weight: bold;margin-top: 20px;">
                            2017年警犬每月工作量
                        </div>
                        <div id="chart_1" style="height: 250px;"> </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div style="height: 16px;"></div>
    <table width="100%">
        <tr style="height: 240px">
            <td style="width: 33%;" class="def_bk">
                <div class="title">警犬数量</div>
                <div id="dog_bar" style="height: 220px"></div>
            </td>
            <td style="width: 16px;"></td>
            <td style="width: 32%;" class="def_bk">
                <div class="title">带犬民警</div>
                <div id="policeman_bar" style="height: 220px"></div>
            </td>
            <td style="width: 16px;"></td>
            <td style="width: 33%;" class="def_bk">
                <div class="title">工作量统计</div>
                <div id="work_bar" style="height: 220px"></div>
            </td>
        </tr>
    </table>

    <div style="height: 16px"></div>
    <div style="height: 340px;" class="def_bk">
        <div class="title" style="padding-top: 8px">繁育和配发</div>
        <div id="bread_send_line" style="height: 310px;"></div>
    </div>
    <div style="height: 16px;"></div>
    <table width="100%">
        <tr style="height: 350px">
            <td style="width: 49.5%;" class="def_bk">
                <div class="title">警犬品种</div>
                <div id="dog_bread_pie" style="height: 330px"></div>
            </td>
            <td style="width: 16px;"></td>
            <td style="width: 49.5%;" class="def_bk">
                <div class="title">警犬年龄</div>
                <div id="dog_age_pie" style="height: 330px"></div>
            </td>
        </tr>
    </table>
    <div style="height: 16px"></div>
    <div style="height: 340px;" class="def_bk">
        <div class="title" style="padding-top: 8px">人犬比例、民警和辅警比例</div>
        <div id="police_dog_dis" style="height: 310px;"></div>
    </div>
    <div style="height: 16px"></div>
    <div style="height: 340px;" class="def_bk">
        <div class="title" style="padding-top: 8px">各分局带犬民警和警犬</div>
        <div id="policeman_and_dog" style="height: 310px;"></div>
    </div>
    <div style="height: 16px;display: none"></div>
    <table style="display: none;">
        <tr>
            <td style="width: 80%;" class="def_bk">
                <div class="title">日常工作</div>
                <div id="dialy_work" style="height: 320px;"></div>
            </td>
            <td style="width: 16px"></td>
            <td style="width: 19%" class="def_bk">
                <div class="title">数据统计</div>
                <div id="work_total" style="height: 320px;"></div>
            </td>
        </tr>
    </table>
</div>

<script>
    (function(){
        var w = $(window).width();
        var left = (w - 16)/5 * 2;
        $('#col1').css('width', left + 'px');
        console.log(w);
    })();

    var table = $('#orderTable');
    var fjda = [
        {fj: '东城分局',policeCount: 3200, dogCount: 87, per: 37, workCount: 0, newsCount: 0},
        {fj: '西城分局',policeCount: 3615, dogCount: 85, per: 43, workCount: 0, newsCount: 0},
        {fj: '朝阳分局',policeCount: 4599, dogCount: 115, per: 40, workCount: 0, newsCount: 0},
        {fj: '海淀分局',policeCount: 5050, dogCount: 51, per: 99, workCount: 0, newsCount: 0},
        {fj: '丰台分局',policeCount: 3148, dogCount: 42, per: 75, workCount: 0, newsCount: 0},
        {fj: '通州分局',policeCount: 3200, dogCount: 65, per: 50, workCount: 0, newsCount: 0},
        {fj: '昌平分局',policeCount: 2000, dogCount: 40, per: 50, workCount: 0, newsCount: 0},
        {fj: '石景山分局',policeCount: 1073, dogCount: 30, per: 36, workCount: 0, newsCount: 0},
        {fj: '门头沟分局',policeCount: 773, dogCount: 42, per: 18, workCount: 0, newsCount: 0},
        {fj: '大兴分局',policeCount: 2059, dogCount: 48, per: 43, workCount: 0, newsCount: 0},
        {fj: '怀柔分局',policeCount: 936, dogCount: 39, per: 24, workCount: 0, newsCount: 0},
        {fj: '房山分局',policeCount: 1596, dogCount: 39, per: 41, workCount: 0, newsCount: 0},
        {fj: '平谷分局',policeCount: 838, dogCount: 35, per: 24, workCount: 0, newsCount: 0},
        {fj: '顺义分局',policeCount: 1631, dogCount: 54, per: 30, workCount: 0, newsCount: 0},
        {fj: '密云分局',policeCount: 1071, dogCount: 35, per: 31, workCount: 0, newsCount: 0},
        {fj: '延庆分局',policeCount: 917, dogCount: 20, per: 46, workCount: 0, newsCount: 0}
    ];
    function renderOrder(){
        table.empty();
        var htm = '<tr style="height: 40px" class="point" onclick="doOrder" id="tab_header">' +
            '<td style="width: 140px" id="tab_1">分局</td>' +
            '<td style="width: 95px" onclick="doOrder(2)" id="tab_2">民警总数</td>' +
            '<td style="width: 90px" onclick="doOrder(3)" id="tab_3">警犬总数</td>' +
            '<td style="width: 100px" onclick="doOrder(4)" id="tab_4">民警/警犬<br>比例↓</td>' +
            '<td style="width: 100px" onclick="doOrder(5)" id="tab_5">上月工作量</td>' +
            '<td style="width: 120px" onclick="doOrder(6)" id="tab_6">上月新闻数量</td>' +
            '</tr>';
        htm = '';
        var si = 112/51;
        for(var i = 0; i<fjda.length; i++){
            var it = fjda[i];
            it.workCount = parseInt(it.dogCount * si);
            it.newsCount = parseInt(it.dogCount * 0.5);
            var bi = '';
            if(it.per >= 50){
                bi = '<span style="color: red"> ' + it.per+ ' </span>'
            }else if(it.per >= 40){
                bi = '<span style="color: yellow"> ' + it.per+ ' </span>'
            }else{
                bi = '<span style="color: #00FFF5"> ' + it.per+ ' </span>'
            }
            htm += '<tr>' +
                '<td>' + it.fj + '</td>' +
                '<td>' + it.policeCount + '</td>' +
                '<td>' + it.dogCount + '</td>' +
                '<td>' + bi + '</td>' +
                '<td>' + it.workCount + '</td>' +
                '<td>' + it.newsCount + '</td>' +
                '</tr>';
        }
        table.append(htm);
    }
    orderByPer('per', lastDesc);
    renderOrder();
    function orderByPer(perName, lastDesc){
        fjda.sort(function(a, b){
            var rst = 1;
            if( a[perName] < b[perName] ) {
                rst = 1
            }else if( a[perName] > b[perName] ){
                rst = -1;
            }else{
                rst = 0;
            }
            if(lastDesc == 'asc'){
                rst = 0 - rst;
            }
            return rst;
        });
    }
    var lastClick = 4;
    var lastDesc = 'desc';
    function doOrder(tag) {
        if(lastClick != tag){
            $('#tab_' + lastClick).text($('#tab_' + lastClick).text().replace('↓', ''));
            $('#tab_' + lastClick).text($('#tab_' + lastClick).text().replace('↑', ''));
            $('#tab_' + tag).text( $('#tab_' + tag).text() + '↓');
            lastClick = tag;
            lastDesc = 'desc';
        }else{
            if(lastDesc == 'desc'){
                $('#tab_' + lastClick).text($('#tab_' + lastClick).text().replace('↓', '↑'));
            }else{
                $('#tab_' + lastClick).text($('#tab_' + lastClick).text().replace('↑', '↓'));
            }
            lastDesc = (lastDesc == 'desc' ?  'asc' : 'desc');
        }

        switch (tag){
            case 2:
                orderByPer('policeCount', lastDesc);
                renderOrder();
                break;
            case 3:
                orderByPer('dogCount', lastDesc);
                renderOrder();
                break;
            case 4:
                orderByPer('per', lastDesc);
                renderOrder();
                break;
            case 5:
                orderByPer('workCount', lastDesc);
                renderOrder();
                break;
            case 6:
                orderByPer('newsCount', lastDesc);
                renderOrder();
                break;

        }
    }

    //======================
    function renderNews(){
        var newsArr = [
            {org: '【门头沟分局】', title: '七旬老人深山采药迷路 警方利用警犬找到其踪迹', date: '2017-06-10'},
            {org: '【海淀分局】', title: '警犬协助抓获 犯罪嫌疑人148人', date: '2017-06-10'},
            {org: '【XXXXX分局】', title: '两窃贼逃跑时遗落一只鞋 警犬出动20分钟破案', date: '2017-06-10'},
            {org: '【XXXXX分局】', title: '遂宁42名消防官兵携带2只搜救犬赶赴九寨沟地震灾区', date: '2017-06-10'},
            {org: '【XXXXX分局】', title: '2岁女童无大人照看意外走失 警方依靠警犬气味搜索十小时寻回', date: '2017-06-10'},
            {org: '【XXXXX分局】', title: '呼和浩特市首用警犬对物流业检查', date: '2017-06-10'},
            {org: '【XXXXX分局】', title: '海南感城公安边防联合警犬中队开展夜间清查行动', date: '2017-06-10'},
            {org: '【XXXXX分局】', title: '云南一毒贩墙洞藏毒万般抵赖 警犬“鼻到擒来”显神威', date: '2017-06-10'},
            {org: '【XXXXX分局】', title: '老太喝农药出走 警犬及时找到', date: '2017-06-10'},
            {org: '【XXXXX分局】', title: '八旬老人走亲戚失联 警犬引路40小时将其找到', date: '2017-06-10'},
            {org: '【XXXXX分局】', title: '警方排查锁目标警犬寻踪捉窃贼', date: '2017-06-10'},
//            {org: '【XXXXX分局】', title: '找到老人，警犬“疾风”立功了！', date: '2017-06-10'},
//            {org: '【XXXXX分局】', title: '呼和浩特市首用警犬对物流业检查', date: '2017-06-10'},
//            {org: '【XXXXX分局】', title: '海南感城公安边防联合警犬中队开展夜间清查行动', date: '2017-06-10'},
//            {org: '【XXXXX分局】', title: '古稀老人采药迷路 警方出动警犬无人机搜寻(图)', date: '2017-06-10'},
//            {org: '【XXXXX分局】', title: '狡猾嫌疑人斗不过机智小警犬 诏安警方破获一起无主毒品案', date: '2017-06-10'},
//            {org: '【XXXXX分局】', title: '老人气急离家出走 警犬十公里外寻回', date: '2017-06-10'},
//            {org: '【XXXXX分局】', title: '中山一出租屋内现女尸 狗狗凭血迹揪出真凶', date: '2017-06-10'},
//            {org: '【XXXXX分局】', title: '吸毒男子慌不择路藏鸡窝 警犬一路紧追不舍', date: '2017-06-10'},
        ];
        var ht = '';
        for(var i =0; i<newsArr.length; i++){
            var ne = newsArr[i];
            var title = ne.title;
            if(title.length > 20){
                title = title.substr(0, 20)
            }
            ht += '<tr>' +
                '<td style="width: 120px"><a href="">'+ne.org+'</a></td>' +
                '<td><a href=""><div style="overflow: hidden">'+title+'</div></a></td>' +
                '<td style="width: 120px" align="right"><a href="">'+ne.date+'</a></td>' +
                '</tr>';
        }
        $('#newList').append(ht);
    }
    renderNews();
    function renderBullent() {
        var newsArr = [
            {org: '【训练使用】', title: '如何树立主人的威信—适用于中大型犬的训', date: '2017-06-10'},
            {org: '【训练使用】', title: '爱犬的基本选择、护理方法', date: '2017-06-10'},
            {org: '【培训通知】', title: '从应激的研究谈警犬训练和营养', date: '2017-06-10'},
            {org: '【驱虫免疫】', title: '2017年驱虫免疫启动', date: '2017-06-10'},
            {org: '【训练使用】', title: '如何树立主人的威信—适用于中大型犬的训', date: '2017-06-10'},
            {org: '【训练使用】', title: '爱犬的基本选择、护理方法', date: '2017-06-10'},
            {org: '【培训通知】', title: '从应激的研究谈警犬训练和营养', date: '2017-06-10'},
            {org: '【驱虫免疫】', title: '2017年驱虫免疫启动', date: '2017-06-10'},
            {org: '【训练使用】', title: '如何树立主人的威信—适用于中大型犬的训', date: '2017-06-10'},
            {org: '【训练使用】', title: '爱犬的基本选择、护理方法', date: '2017-06-10'},
//            {org: '【培训通知】', title: '从应激的研究谈警犬训练和营养', date: '2017-06-10'},
//            {org: '【驱虫免疫】', title: '2017年驱虫免疫启动', date: '2017-06-10'},
        ];
        var ht = '';
        for(var i =0; i<newsArr.length; i++){
            var ne = newsArr[i];
            ht += '<tr>' +
                '<td style="width: 120px"><a href="">'+ne.org+'</a></td>' +
                '<td><a href=""><div style="overflow: hidden">'+ne.title+'</div></a></td>' +
                '<td style="width: 120px" align="right"><a href="">'+ne.date+'</a></td>' +
                '</tr>';
        }
        $('#newList2').append(ht);
    }
    renderBullent();
</script>

</body>

<script type="text/javascript">
    function renderWork(){
        // 基于准备好的dom，初始化echarts实例
        var myChartA = echarts.init(document.getElementById('chart_1'), 'vintage');

        // 指定图表的配置项和数据
        var option = {
            tooltip: {},

            barWidth: 40,
            grid: {
                left: 40,
                right: 20,
                bottom: 40
            },
            xAxis: {
                splitLine: {
                    show: false
                },
                axisLine : {
                    lineStyle: {
                        color: '#fff',
                        width: 1,

                        type: 'solid'
                    }
                },
                data: ["安检","侦查","巡逻","其他"]
            },
            yAxis: {
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.6)',
                        type: 'dashed'
                    }
                },
            },
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10]
            }]
        };

        option = {
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                left: 40,
                right: 20,
                bottom: 40
            },
            legend: {
                data:['安检','侦查','巡逻', '其他']
            },
            xAxis: [
                {
                    type: 'category',
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: 'rgba(255, 255, 255, 0.3)',
                            type: 'dashed'
                        }
                    },
                    axisLabel: {
//                    rotate: 60
                    },
                    data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '工作量',
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: 'rgba(255, 255, 255, 0.3)',
                            type: 'dashed'
                        }
                    },
                    min: 0,
                    max: 1500
                }
            ],
            series: [
                {
                    name:'安检',
                    type:'bar',
                    data: [ parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), 0, 0, 0]
                },
                {
                    name:'侦查',
                    type:'bar',
                    data: [ parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), 0, 0, 0]
                },
                {
                    name:'巡逻',
                    type:'bar',
                    data: [ parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), 0, 0, 0]
                },
                {
                    name:'其他',
                    type:'bar',
                    data: [ parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), parseInt(Math.random() * 1000), 0, 0, 0]
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChartA.setOption(option);
    }
    renderWork();

    function randomData() {
        return Math.round(Math.random()*1000);
    }

    //======================================
    var data = {
        密云区: {policeman: 1072, dog: 20},
        怀柔区: {policeman: 936, dog: 39},
        延庆区: {policeman: 917, dog: 20},
        昌平区: {policeman: 2000, dog: 40},
        顺义区: {policeman: 1631, dog: 54},
        平谷区: {policeman: 838, dog: 35},
        门头沟区: {policeman: 773, dog: 42},
        海淀区: {policeman: 5050, dog: 51},
        朝阳区: {policeman: 4599, dog: 115},
        东城区: {policeman: 3200, dog: 87},
        西城区: {policeman: 3615, dog: 85},
        石景山区: {policeman: 1073, dog: 30},
        通州区: {policeman: 3260, dog: 65},
        丰台区: {policeman: 3148, dog: 42},
        房山区: {policeman: 1596, dog: 39},
        大兴区: {policeman: 2059, dog: 48}
    };

    var map_data = [];
    for(var n in data){
        var info = data[n];
        map_data.push({name: n, value: parseInt(info.policeman/info.dog), policeman: info.policeman, dog: info.dog});
    }
    var myChart = echarts.init(document.getElementById('main'), 'vintage');
    myChart.setOption(option = {
//        backgroundColor: 'rgba(0, 0, 0, 0.25)',
//        visualMap: {
//            left: -10000,
//            type: 'piecewise',
//            pieces: [
//                {min: 0, max: 40, color: '#00fefe'},
//                {min: 41, max: 60, color: '#FEFE01'},
//                {min: 61, max: 1000, color: '#E71F1C'}
//            ],
//            color: ['#E0022B', '#E09107', '#A3E00B']
//        },
        visualMap: {
            min: 0,
            max: 100,
            left: -1000,
            inRange: {
                color: ['#006edd', '#e0ffff']
            },
            calculable : true
        },
        tooltip: {
            trigger: 'item',
            formatter: function(params){
                var d = params.data;
                return '<div style="font-weight: bold;">' + d.name + '</div>带犬民警：' + d.policeman + '<br>警犬数量：' + d.dog + '<br>人员比例：' + d.value + ':1';
            }
        },
        grid:{
            x: 80,
            width:'90%',
            borderWidth: 0
        },
        series: [
            {
                type: 'map',
                mapType: '北京',
                mapLocation:{
                    x:'center',
                    y: 'center',
                    height: 500
                },
                label: {
                    emphasis: {
                        position: ['50%', '50%'],
                        textStyle: {
                            color: 'rgba(0, 0, 0, 0)'
                        }
                    }
                },
                data: map_data,
                itemStyle: {
                    normal: {
                        borderColor: '#fff',
                        areaColor: '#fff',
                    },
                    emphasis: {
                        areaColor: 'rgba(0, 0, 0, 0.5)',
                        borderWidth: 0
                    }
                },
                animation: false
                // animationDurationUpdate: 1000,
                // animationEasingUpdate: 'quinticInOut'
            }
        ]
    });
    myChart.on('click', function (params) {
        var city = params.name;
        console.log(params);
        var item = data[city];
        $('#area_name').text(city);
        $('#policeman_num').text(item.policeman);
        $('#dog_num').text(item.dog);
        $('#police_dog_c').text(parseInt(item.policeman/item.dog) + ':1');
        randerPie();
        renderWork();
    });

    //警犬数量
    echarts.init(document.getElementById('dog_bar'), 'vintage').setOption({
        title: {
            text: '现役警犬只数统计：2801只，目前幼犬数量：925只',
            top: 10,
            left: 4,
            textStyle:{
                fontSize: 14,
                fontWeight: 'normal'
            }
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            splitLine: {
                show: false
            },
            data: ['10月','11月','12月', '1月','2月','3月','4月','5月','6月','7月','8月','9月']
        },
        yAxis: {
            type: 'value',
            splitLine: {
                show: true,
                lineStyle: {
                    color: 'rgba(255, 255, 255, 0.3)',
                    type: 'dashed'
                }
            }
        },
        series: [
            {
                name:'成犬数量',
                type:'line',
                stack: '总量1',
                data:[2387, 2412, 2501, 2710, 2317, 2720, 2750, 2760, 2768, 2570, 2790, 2801]
            },
            {
                name:'幼犬数量',
                type:'line',
                stack: '总量2',
                data: [161, 64, 213, 213, 354, 103, 955, 541, 552, 844, 370, 925]
            }
        ]
    });

    //民警数量
    echarts.init(document.getElementById('policeman_bar'), 'vintage').setOption({
        title: {
            text: '系统带犬民警统计：45024人，辅警人数：3051人',
            top: 10,
            left: 4,
            textStyle:{
                fontSize: 14,
                fontWeight: 'normal'
            }
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            splitLine: {
                show: false
            },
            data: ['10月','11月','12月', '1月','2月','3月','4月','5月','6月','7月','8月','9月']
        },
        yAxis: {
            type: 'value',
            splitLine: {
                show: true,
                lineStyle: {
                    color: 'rgba(255, 255, 255, 0.3)',
                    type: 'dashed'
                }
            }
        },
        series: [
            {
                name:'民警数量',
                type:'line',
                stack: '总量1',
                data:[47, 685, 73, 649, 506, 674, 142, 821, 706, 269, 895, 53]
            },
            {
                name:'辅警数量',
                type:'line',
                stack: '总量2',
                data: [580, 500, 762, 857, 849, 989, 604, 816, 822, 900, 1200, 3051]
            }
        ]
    });

    //工作量
    echarts.init(document.getElementById('work_bar'), 'vintage').setOption({
        title: {
            text: '当年截止目前累计：35029次',
            top: 10,
            left: 4,
            textStyle:{
                fontSize: 14,
                fontWeight: 'normal'
            }
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            splitLine: {
                show: false
            },
            data: ['10月','11月','12月', '1月','2月','3月','4月','5月','6月','7月','8月','9月']
        },
        yAxis: {
            type: 'value',
            splitLine: {
                show: true,
                lineStyle: {
                    color: 'rgba(255, 255, 255, 0.3)',
                    type: 'dashed'
                }
            }
        },
        series: [
            {
                name:'民警数量',
                type:'line',
                stack: '总量1',
                data:[9200, 9665, 10568, 4697, 7783, 9534, 5602, 5947, 4745, 3898, 7107, 4587]
            }
        ]
    });

    //警犬品种
    echarts.init(document.getElementById('dog_bread_pie'), 'vintage').setOption({
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            right: 'right',
            bottom: 40,
            data: ["史宾格犬", "罗威纳犬", "拉拉多犬", "德国牧羊犬", "荷兰牧羊犬", "昆明犬", "马里努阿犬", "金毛犬", "杜宾犬（杜博文）", "杂交犬", "其他"]
        },
        series : [
            {
                name: '访问来源',
                type: 'pie',
                center: ['40%', '50%'],
                data:[
                    {"name":"史宾格犬","value":670},
                    {"name":"罗威纳犬","value":653},
                    {"name":"拉拉多犬","value":322},
                    {"name":"德国牧羊犬","value":305},
                    {"name":"荷兰牧羊犬","value":513},
                    {"name":"昆明犬","value":509},
                    {"name":"马里努阿犬","value":311},
                    {"name":"金毛犬","value":405},
                    {"name":"杜宾犬（杜博文）","value":541},
                    {"name":"杂交犬","value":300},
                    {"name":"其他","value": 20}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    });

    //警犬年龄
    echarts.init(document.getElementById('dog_age_pie'), 'vintage').setOption({
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            bottom: 40,
            data:['小于1岁','1-3岁','3-6岁','6-8岁','大于8岁']
        },
        series: [
            {
                name:'警犬年龄',
                type:'pie',
                radius: ['50%', '80%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:[
                    {value: 276, name:'小于1岁'},
                    {value: 1210, name:'1-3岁'},
                    {value: 924, name:'3-6岁'},
                    {value: 154, name:'6-8岁'},
                    {value: 98, name:'大于8岁'},
                ]
            }
        ]
    });

    //繁育配发 //'繁育数量', '配发数量', '淘汰数量', '死亡数量'
    echarts.init(document.getElementById('bread_send_line'), 'vintage').setOption({
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: 60,
            right: 40,
            bottom: 40
        },
        legend: {
            data:['繁育数量', '配发数量', '淘汰数量', '死亡数量']
        },
        xAxis: [
            {
                type: 'category',
                splitLine: {
                    show: false,
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)',
                        type: 'dashed'
                    }
                },
                axisLabel: {
//                    rotate: 60
                },
                data: ['10月','11月','12月', '1月','2月','3月','4月','5月','6月','7月','8月','9月'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '数量',
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)',
                        type: 'dashed'
                    }
                },
                min: 0
            }
        ],
        series: [
            {
                name:'繁育数量',
                type:'bar',
                itemStyle: {
                    normal: {
                        color: '#50cf67'
                    }
                },
                data: [55, 46, 90, 11, 22, 43, 56, 32, 35, 27, 49, 26]
            },
            {
                name:'配发数量',
                type:'bar',
                itemStyle: {
                    normal: {
                        color: '#8bfaff'
                    }
                },
                data: [45, 19, 26, 49, 56, 13, 19, 29, 65, 53, 31, 27]
            },
            {
                name:'淘汰数量',
                type:'bar',
                itemStyle: {
                    normal: {
                        color: '#ecebff'
                    }
                },
                data: [20, 21, 30, 39, 18, 37, 11, 35, 36, 23, 1, 2]
            },
            {
                name:'死亡数量',
                type:'bar',
                itemStyle: {
                    normal: {
                        color: '#ff0800'
                    }
                },
                data: [3, 7, 1, 9, 0, 1, 2, 1, 8, 1, 9, 11]
            }
        ]
    });

    //人犬比例、民警和辅警比例
    echarts.init(document.getElementById('police_dog_dis'), 'vintage').setOption({
        barWidth: 10,
        tooltip: {
            trigger: 'axis',
            formatter: function(params){
                return params[0].axisValue + '<br>' + params[0].seriesName + '： '+ params[0].value + '：1' + '<br>' +
                    params[1].seriesName + '： '+ params[1].value + '：1';
            }
        },
        grid: {
            left: 60,
            right: 60,
            bottom: 40
        },
        legend: {
            data:['人犬比例', '辅警民警比例']
        },
        xAxis: [
            {
                type: 'category',
                splitLine: {
                    show: false,
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)',
                        type: 'dashed'
                    }
                },
                axisLabel: {
//                    rotate: 60
                },
                data: ["刑侦总队", "公交总队", "特警总队", "天安门分局", "西站分局", "开发局分局", "清河分局", "东城分局", "西城分局", "朝阳分局", "海淀分局", "丰台分局", "通州分局", "昌平分局", "石景山分局", "门头沟分局", "大兴分局", "怀柔分局", "房山分局", "平谷分局", "顺义分局", "密云分局", "延庆县分局", "消防", "振远", "警卫局", "机场", "警院"] ,
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '民警与警犬比例',
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)',
                        type: 'dashed'
                    }
                },
                axisLabel: {
                    formatter: '{value} : 1'
                },
                min: 1
            },
            {
                type: 'value',
                name: '辅警与民警比例',
                splitLine: {
                    show: false
                },
                axisLabel: {
                    formatter: '{value} : 1'
                },
                min: 1
            }
        ],
        series: [
            {
                name:'人犬比例',
                type:'bar',
                itemStyle: {
                    normal: {
                        color: '#00FEFE'
                    }
                },
                markLine: {
                    lineStyle: {
                        normal: {
                            color: '#fbff00'
                        }
                    },
                    label: {
                        normal: {
                            formatter: '{b}'
                        }
                    },
                    data: [
                        {
                            name: '1:40',
                            yAxis: 40
                        },{
                            name: '1:50',
                            yAxis: 50
                        },{
                            name: '1:60',
                            yAxis: 60
                        }
                    ]
                },
                data: [60, 39, 23, 44, 12, 69, 61, 58, 29, 43, 23, 75, 57, 0, 63, 57, 39, 9, 1, 41, 42, 6, 24, 45, 6, 13, 31, 42]
            },{
                name:'辅警民警比例',
                type:'bar',
                itemStyle: {
                    normal: {
                        color: '#8dff4a'
                    }
                },
                markLine: {
                    lineStyle: {
                        normal: {
                            color: '#ff5434'
                        }
                    },
                    label: {
                        normal: {
                            formatter: '{b}'
                        }
                    },
                    data: [
                        {
                            name: '1:3',
                            yAxis: 3
                        }
                    ]
                },
                yAxisIndex: 1,
                data: [8, 4, 5, 1, 7, 4, 6, 6, 3, 2, 4, 1, 8, 5, 2, 6, 9, 5, 9, 3, 8, 8, 7, 7, 5, 4, 4, 2]
            }
        ]
    });

    //各分局带犬民警和警犬
    echarts.init(document.getElementById('policeman_and_dog'), 'vintage').setOption({
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: 60,
            right: 40,
            bottom: 40
        },
        legend: {
            data:['民警人数', '辅警人数', '警犬数量']
        },
        xAxis: [
            {
                type: 'category',
                splitLine: {
                    show: false,
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)',
                        type: 'dashed'
                    }
                },
                axisLabel: {
//                    rotate: 60
                },
                data: ["刑侦总队", "公交总队", "特警总队", "天安门分局", "西站分局", "开发局分局", "清河分局", "东城分局", "西城分局", "朝阳分局", "海淀分局", "丰台分局", "通州分局", "昌平分局", "石景山分局", "门头沟分局", "大兴分局", "怀柔分局", "房山分局", "平谷分局", "顺义分局", "密云分局", "延庆县分局", "消防", "振远", "警卫局", "机场", "警院"] ,
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '数量',
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)',
                        type: 'dashed'
                    }
                },
                min: 0
            }
        ],
        series: [
            {
                name:'辅警人数',
                type:'bar',
                itemStyle: {
                    normal: {
//                        color: '#ece0af'
                    }
                },
                data: [235, 403, 453, 297, 288, 496, 175, 435, 294, 434, 45, 213, 413, 325, 416, 52, 487, 91, 205, 361, 151, 378, 345, 70, 406, 492, 307, 407]
            },{
                name:'民警人数',
                type:'bar',
                itemStyle: {
                    normal: {
//                        color: '#50cf67'
                    }
                },
                data: [421, 184, 265, 232, 351, 458, 167, 362, 174, 90, 345, 215, 224, 187, 387, 134, 243, 359, 222, 390, 176, 345, 483, 59, 59, 40, 123, 164]
            },{
                name:'警犬数量',
                type:'bar',
                itemStyle: {
                    normal: {
//                        color: '#FFA500'
                    }
                },
                data: [18, 6, 41, 27, 19, 36, 25, 41, 34, 28, 43, 28, 22, 1, 3, 2, 7, 34, 6, 33, 33, 18, 4, 38, 5, 44, 5, 0]
            }
        ]
    });

    //日常工作
    echarts.init(document.getElementById('dialy_work'), 'vintage').setOption({
        tooltip: {},

        barWidth: 40,
        grid: {
            left: 40,
            right: 20,
            bottom: 40
        },
        xAxis: {
            splitLine: {
                show: false
            },
            axisLine : {
                lineStyle: {
                    color: '#fff',
                    width: 1,

                    type: 'solid'
                }
            },
            data: ["安检","侦查","巡逻","其他"]
        },
        yAxis: {
            splitLine: {
                show: true,
                lineStyle: {
                    color: 'rgba(255, 255, 255, 0.6)',
                    type: 'dashed'
                }
            },
        },
        series: [{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10]
        }]
    });

    //分局警犬年龄
    function randerPie(){
        echarts.init(document.getElementById('fj_col1'), 'vintage').setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'bottom',
                x: 'bottom',
                bottom: 0,
                data:['小于1岁','1-3岁','3-6岁','6-8岁','大于8岁']
            },
            series: [
                {
                    name:'警犬年龄',
                    type:'pie',
                    radius: ['45%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {value:  parseInt(Math.random() * 1000), name:'小于1岁'},
                        {value:  parseInt(Math.random() * 1000), name:'1-3岁'},
                        {value:  parseInt(Math.random() * 1000), name:'3-6岁'},
                        {value:  parseInt(Math.random() * 1000), name:'6-8岁'},
                        {value:  parseInt(Math.random() * 1000), name:'大于8岁'},
                    ]
                }
            ]
        });
        echarts.init(document.getElementById('fj_col2'), 'vintage').setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'bottom',
                x: 'bottom',
                bottom: 0,
                data:['金毛','史宾格','拉布拉多','德国牧羊犬','昆明犬']
            },
            series: [
                {
                    name:'警犬品种',
                    type:'pie',
                    radius: ['45%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {value:  parseInt(Math.random() * 1000), name:'金毛'},
                        {value:  parseInt(Math.random() * 1000), name:'史宾格'},
                        {value:  parseInt(Math.random() * 1000), name:'拉布拉多'},
                        {value:  parseInt(Math.random() * 1000), name:'德国牧羊犬'},
                        {value:  parseInt(Math.random() * 1000), name:'昆明犬'},
                    ]
                }
            ]
        });
        echarts.init(document.getElementById('fj_col3'), 'vintage').setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'bottom',
                x: 'bottom',
                bottom: 0,
                data:['搜爆','搜寻','追踪','治安防范','搜毒']
            },
            series: [
                {
                    name:'警犬专业',
                    type:'pie',
                    radius: ['45%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {value: parseInt(Math.random() * 1000), name:'搜爆'},
                        {value: parseInt(Math.random() * 1000), name:'搜寻'},
                        {value: parseInt(Math.random() * 1000), name:'追踪'},
                        {value: parseInt(Math.random() * 1000), name:'治安防范'},
                        {value: parseInt(Math.random() * 1000), name:'搜毒'},
                    ]
                }
            ]
        });
        echarts.init(document.getElementById('fj_col4'), 'vintage').setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'bottom',
                x: 'bottom',
                bottom: 0,
                data:['20-30岁','30-40岁','40-50岁','大于50岁']
            },
            series: [
                {
                    name:'民警年龄',
                    type:'pie',
                    radius: ['45%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {value: parseInt(Math.random() * 1000), name:'20-30岁'},
                        {value: parseInt(Math.random() * 1000), name:'30-40岁'},
                        {value: parseInt(Math.random() * 1000), name:'40-50岁'},
                        {value: parseInt(Math.random() * 1000), name:'大于50岁'}
                    ]
                }
            ]
        });
        echarts.init(document.getElementById('fj_col5'), 'vintage').setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'bottom',
                x: 'bottom',
                bottom: 0,
                data:['科员','科长','队长','中队长','处长']
            },
            series: [
                {
                    name:'警犬年龄',
                    type:'pie',
                    radius: ['45%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {value: parseInt(Math.random() * 1000), name:'科员'},
                        {value: parseInt(Math.random() * 1000), name:'科长'},
                        {value: parseInt(Math.random() * 1000), name:'队长'},
                        {value: parseInt(Math.random() * 1000), name:'中队长'},
                        {value: parseInt(Math.random() * 1000), name:'处长'},
                    ]
                }
            ]
        });
    }
    randerPie();
</script>
</html>